# Tabularize time series

In this assignment, your task is to convert **time series data** into a **tabular data set**.

You need to create suitable input features from a time series containing weekly sales to be able to forecast sales for the next week.

To prepare the dataset for this assignment, please follow the guidelines in the notebook `02-create-online-retail-II-datasets.ipynb` in the `01-Create-Datasets` folder.

In [2]:
# load weekly sales dataset

filename = "../../Datasets/online_retail_dataset.csv"

df = pd.read_csv(
    filename,
    usecols=["week", "United Kingdom"],
    parse_dates=["week"],
    index_col=["week"],
)

df.columns = ['sales']

df.head()

                sales
week
2009-12-06  213000.35
2009-12-13  195810.04
2009-12-20  182396.74
2009-12-27   22007.77
2010-01-03       0.00

# Data analysis

First, explore the time series.

## Plot time series

## Missing data

Check if there are missing values in the time series.

## Missing timestamps

Check if there are missing timestamps in the index.

## Seasonality

Does the time series show any obvious seasonal pattern?

# Feature engineering

Now, let's begin to tabularize the data.

## Split data

Separate the data into training and testing sets, leaving the data after the last week of September to evaluate the forecasts, that is, in the testing set.

## Naive forecast

Predict sales in the next week (t) as the value of sales in the previous week (t-1).

## Machine Learning